<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<h1>Awesome Products</h1>
<% @products.each do |product| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= product.name %></h3>
      <p><%= product.tagline %></p>
    </div>
  </div>
<% end %>
